@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- On tables -->
<table class="table-primary">...</table>
<!-- ... -->

<!-- On rows -->
<tr class="table-primary">...</tr>
<!-- ... -->

<!-- On cells (`td` or `th`) -->
<tr>
    <td class="table-primary">...</td>
    <!-- ... -->
</tr>
