@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h2 class="mb-4">User Accounts</h2>

    <h3>Dark Header</h3>
    <table class="table">
        <!-- ... -->
    </table>

    <h3>Light Header</h3>
    <table class="table">
        <!-- ... -->
    </table>
</div>
