@model democode.Models.User
@using Newtonsoft.Json
@{

    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var httpContext = Context.Request.HttpContext;
    var userJson = httpContext.Session.GetString("User");
    var user = userJson != null ? JsonConvert.DeserializeObject<User>(userJson) : null;
}

<h1>Information</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update" asp-controller="User" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>

            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>

            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
            </div>
            <div class="form-group">
                <label asp-for="Course" class="control-label"></label>

            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
